html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  border: 5px lightblue solid;
}

.display {
  border: 5px wheat solid;
  font-size: 100px;
  width: 500px;
  height: 100px;

}