html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(121, 150, 177);
}
.verticalContainer {
  display: flex;
  border: 5px lightblue solid;
  flex-direction: column;
  gap: 10px;
  background-color: gray;
  padding: 5px;
  border-radius: 10px;
}

#display {
  display: flex;
  border: 5px wheat solid;
  font-size: 100px;
  width: 400px;
  height: 100px;
  background-color: cadetblue;
  border-radius: 10px;
  justify-content: right;
  overflow: hidden;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.horizontalButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  width: 80px;
  height: 80px;
  background-color:lightblue;
  font-size: 50px;
  color: black;
  border: 3px black solid;
  border-radius: 10px;
  
}

.longButton {
  width: 170px;
}

.operator {
  background-color: pink;
}

.verticalButtons {
  display: flex;
  flex-direction: column;
}

#clearButton {
  background-color: wheat;
}